artiq
cirq
click
h5py
matplotlib
more_itertools
networkx
numdifftools
numpy>=1.15.0
pandas
pint
ply
prettytable
progress
pulsecompiler
pyparsing
pyqtgraph
pytest
python-box
pyvisa
pyvisa-py
scipy
setuptools
sphinx
statsmodels
tables
uncertainties
pyyaml
